{{define "generate.html"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Generate PDF from HTML</title>
    {{template "meta.html" .}} {{template "styles.html" .}}
    <style>
      .main-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 90%;
        max-width: 1080px;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: white;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    {{template "navbar.html" .}}
    <div class="main-container">
      <textarea
        id="htmlContent"
        rows="20"
        placeholder="Enter your HTML content here..."
      ></textarea>
      <div class="error-message" id="errorMessage">
        <span class="material-icons"> error </span>
        <span>PDF generation failed. Please try again.</span>
      </div>
      <div class="button-container">
        <button id="generatePDF" class="button">
          <span class="button-icon material-icons">description</span>
          <span class="button-text">Generate PDF</span>
        </button>
      </div>
    </div>

    <div class="pdf-container" id="pdfContainer">
      <iframe id="pdfViewer" class="pdf-iframe"></iframe>
    </div>

    <script>
      const errorMessage = document.getElementById("errorMessage");
      const pdfContainer = document.getElementById("pdfContainer");
      const pdfViewer = document.getElementById("pdfViewer");

      document
        .getElementById("generatePDF")
        .addEventListener("click", async () => {
          const htmlContent = document.getElementById("htmlContent").value;
          const base64HtmlContent = btoa(htmlContent);

          const payload = {
            html: base64HtmlContent,
          };

          const apiUrl = "/pdf";

          try {
            const response = await fetch(apiUrl, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(payload),
            });

            if (response.ok) {
              const pdfData = await response.blob();
              const pdfUrl = URL.createObjectURL(pdfData);
              pdfViewer.setAttribute("src", pdfUrl);
              pdfContainer.style.display = "flex"; // Show the PDF container
            } else {
              errorMessage.style.display = "flex"; // Show error message container
            }
          } catch (error) {
            console.error("An error occurred: " + error);
          }
        });
    </script>
  </body>
</html>
{{end}}
