{{define "home.html"}}
<!DOCTYPE html>
<html>
  <head>
    <title>PDF Tools</title>
    {{template "meta.html" .}}
  </head>
  <body>
    {{template "navbar.html" .}}
    <div class="logo">
      <img src="/logo.png" alt="One Eyed Willy PDFs" />
    </div>
    <div class="container container-small">
      <div class="horizontal-align">
        <a class="button" href="/generate">
          <span class="button-icon material-icons">description</span>
          <span class="button-text">Generate PDF</span>
        </a>
        <a class="button" href="/merge">
          <span class="button-icon material-icons">merge_type</span>
          <span class="button-text">Merge PDF</span>
        </a>
      </div>
    </div>
  </body>
</html>
{{end}}
