<!DOCTYPE html>
<html>
  <head>
    <title>Merge PDFs</title>
    {{template "meta.html" .}}
  </head>
  <body>
    {{template "styles.html" .}} {{template "navbar.html" .}}
    <div class="container container-large">
      <input
        id="pdfInput"
        class="input-box"
        type="file"
        multiple
        accept=".pdf"
        name="files"
      />
      <div class="error-message" id="errorMessage">
        <span class="material-icons"> error </span>
        <span>Please select at least two PDF files.</span>
      </div>
      <div class="button-container">
        <button class="button" id="mergeButton">
          <span class="button-icon material-icons">merge_type</span>
          <span class="button-text">Merge PDFs</span>
        </button>
      </div>
    </div>
    <div class="container container-large" id="pdfContainer">
      <iframe id="pdfViewer" class="pdf-iframe"></iframe>
      <div class="text-message">
        <a id="file-link" target="_blank" rel="noopener noreferrer">
          <span class="material-icons"> zoom_out_map </span>
        </a>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const pdfInput = document.getElementById("pdfInput");
        const mergeButton = document.getElementById("mergeButton");
        const errorMessage = document.getElementById("errorMessage");
        const pdfContainer = document.getElementById("pdfContainer");
        const fileLink = document.getElementById("file-link");
        const pdfViewer = document.getElementById("pdfViewer");
        pdfContainer.style.display = "none";

        mergeButton.addEventListener("click", async () => {
          const selectedFiles = pdfInput.files;
          if (selectedFiles.length < 2) {
            errorMessage.style.display = "flex";
            return;
          }
          errorMessage.style.display = "none";

          const formData = new FormData();
          for (let i = 0; i < selectedFiles.length; i++) {
            formData.append("files", selectedFiles[i]);
          }

          try {
            const response = await fetch("/pdf/merge", {
              method: "POST",
              body: formData,
            });

            if (response.ok) {
              const blob = await response.blob();
              const blobUrl = URL.createObjectURL(blob);
              pdfViewer.setAttribute("src", blobUrl);
              fileLink.href = blobUrl;
              pdfContainer.style.display = "flex";
            } else {
              console.error("PDF merging failed.");
            }
          } catch (error) {
            console.error("An error occurred:", error);
          }
        });
      });
    </script>
  </body>
</html>
