<!DOCTYPE html>
<html>
  <head>
    <title>Merge PDFs</title>
    {{template "meta.html" .}}
  </head>
  <body>
    {{template "styles.html" .}}
    <style>
      /* Custom Styles */
      .main-container {
        max-width: 600px;
        width: 90%;
        padding: 20px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }
      .pdf-input {
        width: 100%;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    </style>
    {{template "navbar.html" .}}
    <div class="main-container">
      <input
        id="pdfInput"
        class="pdf-input"
        type="file"
        multiple
        accept=".pdf"
        name="files"
      />
      <div class="error-message" id="errorMessage">
        <span class="material-icons"> error </span>
        <span>Please select at least two PDF files.</span>
      </div>
      <div class="button-container">
        <button class="button" id="mergeButton">
          <span class="button-icon material-icons">merge_type</span>
          <span class="button-text">Merge PDFs</span>
        </button>
      </div>
    </div>
    <div class="pdf-container" id="pdfContainer">
      <iframe id="pdfViewer" class="pdf-iframe"></iframe>
      <a id="merged-link" target="_blank" rel="noopener noreferrer"
        >Download Merged PDF</a
      >
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const pdfInput = document.getElementById("pdfInput");
        const mergeButton = document.getElementById("mergeButton");
        const errorMessage = document.getElementById("errorMessage");
        const mergedPdfContainer = document.getElementById("pdfContainer");
        const mergedLink = document.getElementById("merged-link");
        const pdfViewer = document.getElementById("pdfViewer");

        mergeButton.addEventListener("click", async () => {
          const selectedFiles = pdfInput.files;
          if (selectedFiles.length < 2) {
            errorMessage.style.display = "flex";
            return;
          }
          errorMessage.style.display = "none";

          const formData = new FormData();
          for (let i = 0; i < selectedFiles.length; i++) {
            formData.append("files", selectedFiles[i]);
          }

          try {
            const response = await fetch("/pdf/merge", {
              method: "POST",
              body: formData,
            });

            if (response.ok) {
              const blob = await response.blob();
              const blobUrl = URL.createObjectURL(blob);
              pdfViewer.setAttribute("src", blobUrl);
              mergedLink.href = blobUrl;
              mergedLink.style.display = "block";
              mergedPdfContainer.style.display = "block";
            } else {
              console.error("PDF merging failed.");
            }
          } catch (error) {
            console.error("An error occurred:", error);
          }
        });
      });
    </script>
  </body>
</html>
