{{define "styles.html"}}
<style>
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    min-height: 100vh;
    margin-bottom: 2em;
    margin-top: 5em;
  }
  .horizontal-align {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .container:nth-child(even) {
    margin-top: 2em;
  }
  .container-small {
    max-width: 25em;
  }
  .container-large {
    width: 90%;
    max-width: 50em;
  }
  .error-message {
    color: #d32f2f;
    align-items: center;
    justify-content: flex-start;
  }
  .icon {
    color: #2196f3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2em;
    margin-top: 0.5em;
    width: 100%;
    white-space: nowrap;
  }
  .icon:hover {
    color: #1565c0;
  }
  .inline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
  }
  .button {
    background-color: #2196f3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .button:hover {
    background-color: #1976d2;
  }
  .button:nth-child(even) {
    margin-left: 1em;
  }
  .button-icon {
    margin-right: 0.5em;
    font-size: 1.5em;
  }
  .button-text {
    white-space: nowrap;
  }
  .navbar {
    background-color: #1976d2;
    border-bottom: 5px solid #2196f3;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  .nav-link-container {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .nav-link {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  .pdf-iframe {
    height: 50em;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
  }
  .input-box {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .spinner-container {
    display: flex;
    height: 1em;
    width: 1em;
  }
  .spinner {
    font-size: 2px;
    width: 10em;
    height: 10em;
    border-top: 1em solid #1976d2;
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: spinner 0.6s linear infinite;
  }
  .head {
    width: 1em;
    height: 1em;
    background-color: #1976d2;
    border-radius: 50%;
    margin-left: 8.5em;
    margin-top: 0.5em;
  }
  @keyframes spinner {
    100% {
      transform: rotate(360deg);
    }
  }
</style>
{{end}}
