{{define "styles.html"}}
<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin-bottom: 2em;
  }
  .blank-space {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .horizontal-align {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  .center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5em;
  }
  .container-small {
    max-width: 23em;
  }
  .container-large {
    width: 90%;
    max-width: 50em;
  }
  .no-margin-top {
    margin-top: 0;
  }
  .error-message {
    color: red;
    display: none;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    margin-top: 10px;
  }
  .text-message {
    color: #1976d2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1em;
    margin-top: 10px;
    width: 100%;
    white-space: nowrap;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  .button {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 160px;
  }
  .button:hover {
    background-color: #1565c0;
  }
  .button:first-child {
    margin-right: 10px;
  }
  .button-icon {
    margin-right: 5px;
    font-size: 20px;
  }
  .button-text {
    white-space: nowrap;
  }
  .navbar {
    background-color: #1976d2; /* Material-UI blue color */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  .nav-link-container {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .nav-link {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  .pdf-iframe {
    height: 50em;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
  }
  .input-box {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
</style>
{{end}}
